.ftco-counter .text span {
    font-weight: 600;
    font-size: 18px;
    color: #b1b493;
    text-transform: uppercase;
}
#experince{
    padding-top: 3%;
    padding-bottom: 3%;
    line-height: 1;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.8);
    background: #f8f9fa !important;
}
.icon{

    border: 1px solid #b1b493;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2px;
    background: #b1b493;
    color: white;
    margin-right:10px;
    align-items: center;
    display: flex;
}
.iconcoffee{
    border: 1px solid #b1b493;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    background: #b1b493;
    color: white;
    margin-right:10px;
    align-items: center;
    display: flex;
}