<div class="container" style="padding: 7em 0; position: relative;">
    <div class="row justify-content-center">
        <div class="col-md-12 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated">
            <span class="subheading">I am great at</span>
            <h2 class="mb-4">We do awesome services for our clients</h2>
            <p class="para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
        </div>
    </div>


    <div class="row g-5">

        <ng-container *ngFor="let data of cardData">

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-white rounded-lg  p-4 serve" appCardHover>
                <div class="card shadow" style="cursor: pointer; border: none;">
                    <div class="text">
                        <div>
                            <app-commonicon [icon]="data.icon" [height]="'75px'"></app-commonicon>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ data.title }}</h5>
                        <p class="card-text">{{ data.text }}</p>
                    </div>
                </div>
            </div>
        </ng-container>
</div>