<div class="container" style="padding: 7em 0; position: relative;">
    <div class="row justify-content-center">
        <div class="col-md-12 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated">
            <span class="subheading">I am grat at</span>
            <h2 class="mb-4">We do awesome services for our clients</h2>
            <p class="para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
        </div>
    </div>


    <div class="row g-5">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-white rounded-lg  p-4">
            <div class="card shadow" style="cursor: pointer; border: none;">
                <div class="text-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6" style="height: 55px; height: 75px; border: 1px solid #b1b493; border-radius: 50%;  padding: 7px; top:-32px; position: relative; background: #b1b493; color: white;">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 0 1-1.125-1.125v-3.75ZM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-8.25ZM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-2.25Z" />
                        </svg>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Web Design</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, laborum. Porro impedit eos illo enim ratione, facilis veritatis iste officiis placeat, accusantium, corrupti expedita ab ipsa voluptatem ipsam! Ea, soluta.With supporting text below as a natural lead-in to additional content..</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-white rounded-lg  p-4">
            <div class="card shadow"  style="cursor: pointer; border: none;">
                <div class="text-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="height: 55px; height: 75px; border: 1px solid #b1b493; border-radius: 50%;  padding: 7px; top:-32px; position: relative; background: #b1b493; color: white;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
                          </svg>                          
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Web Application</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, laborum. Porro impedit eos illo enim ratione, facilis veritatis iste officiis placeat, accusantium, corrupti expedita ab ipsa voluptatem ipsam! Ea, soluta.With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-white rounded-lg  p-4">
            <div class="card shadow"  style="cursor: pointer; border: none;">
                <div class="text-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="height: 55px; height: 75px; border: 1px solid #b1b493; border-radius: 50%;  padding: 7px; top:-32px; position: relative; background: #b1b493; color: white;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 14.25h13.5m-13.5 0a3 3 0 0 1-3-3m3 3a3 3 0 1 0 0 6h13.5a3 3 0 1 0 0-6m-16.5-3a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3m-19.5 0a4.5 4.5 0 0 1 .9-2.7L5.737 5.1a3.375 3.375 0 0 1 2.7-1.35h7.126c1.062 0 2.062.5 2.7 1.35l2.587 3.45a4.5 4.5 0 0 1 .9 2.7m0 0a3 3 0 0 1-3 3m0 3h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Zm-3 6h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Z" />
                          </svg>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">BackEnd Development</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, laborum. Porro impedit eos illo enim ratione, facilis veritatis iste officiis placeat, accusantium, corrupti expedita ab ipsa voluptatem ipsam! Ea, soluta.With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-white rounded-lg  p-4">
            <div class="card shadow"  style="cursor: pointer; border: none;">
                <div class="text-center">
                    <div>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"style="height: 55px; height: 75px; border: 1px solid #b1b493; border-radius: 50%;  padding: 7px; top:-32px; position: relative; background: #b1b493; color: white;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
                          </svg>                                              
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">SQL DataBase</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, laborum. Porro impedit eos illo enim ratione, facilis veritatis iste officiis placeat, accusantium, corrupti expedita ab ipsa voluptatem ipsam! Ea, soluta.With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-white rounded-lg  p-4">
            <div class="card shadow"  style="cursor: pointer; border: none;">
                <div class="text-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="height: 55px; height: 75px; border: 1px solid #b1b493; border-radius: 50%;  padding: 7px; top:-32px; position: relative; background: #b1b493; color: white;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m10.5 21 5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 0 1 6-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 0 1-3.827-5.802" />
                          </svg>
                          
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, laborum. Porro impedit eos illo enim ratione, facilis veritatis iste officiis placeat, accusantium, corrupti expedita ab ipsa voluptatem ipsam! Ea, soluta.With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-white rounded-lg  p-4">
            <div class="card shadow"  style="cursor: pointer; border: none;">
                <div class="text-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"style="height: 55px; height: 75px; border: 1px solid #b1b493; border-radius: 50%;  padding: 7px; top:-32px; position: relative; background: #b1b493; color: white;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
                          </svg>
                          
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, laborum. Porro impedit eos illo enim ratione, facilis veritatis iste officiis placeat, accusantium, corrupti expedita ab ipsa voluptatem ipsam! Ea, soluta.With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-white rounded-lg  p-4">
            <div class="card shadow"  style="cursor: pointer; border: none;">
                <div class="text-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"style="height: 55px; height: 75px; border: 1px solid #b1b493; border-radius: 50%;  padding: 7px; top:-32px; position: relative; background: #b1b493; color: white;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25M9 16.5v.75m3-3v3M15 12v5.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                          </svg>
                          
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">HTML/CSS</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, laborum. Porro impedit eos illo enim ratione, facilis veritatis iste officiis placeat, accusantium, corrupti expedita ab ipsa voluptatem ipsam! Ea, soluta.With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 bg-white rounded-lg  p-4">
            <div class="card shadow"  style="cursor: pointer; border: none;">
                <div class="text-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"style="height: 55px; height: 75px; border: 1px solid #b1b493; border-radius: 50%;  padding: 7px; top:-32px; position: relative; background: #b1b493; color: white;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                          </svg>
                          
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Azure Function</h5>
                    <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, laborum. Porro impedit eos illo enim ratione, facilis veritatis iste officiis placeat, accusantium, corrupti expedita ab ipsa voluptatem ipsam! Ea, soluta.With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>


    