
    <div class="container" style="padding: 7em 0; position: relative;">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated">
                <span class="subheading">I am grat at</span>
                <h2 class="mb-4">We do awesome services for our clients</h2>
                <p class="para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div
                    class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate fadeInUp ftco-animated">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 0 1-1.125-1.125v-3.75ZM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-8.25ZM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-2.25Z" />
                          </svg>
                          
                          
                    <div class="media-body">
                        <h3 class="heading mb-3">Web Design</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div
                    class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate fadeInUp ftco-animated">
                    <div class="icon shadow d-flex align-items-center justify-content-center"><span
                            class="flaticon-app-development"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Web Application</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div
                    class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate fadeInUp ftco-animated">
                    <div class="icon shadow d-flex align-items-center justify-content-center"><span
                            class="flaticon-web-programming"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Web Development</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div
                    class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate fadeInUp ftco-animated">
                    <div class="icon shadow d-flex align-items-center justify-content-center"><span
                            class="flaticon-branding"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Banner Design</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div
                    class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate fadeInUp ftco-animated">
                    <div class="icon shadow d-flex align-items-center justify-content-center"><span
                            class="flaticon-computer"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Branding</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div
                    class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate fadeInUp ftco-animated">
                    <div class="icon shadow d-flex align-items-center justify-content-center"><span
                            class="flaticon-vector"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Icon Design</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div
                    class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate fadeInUp ftco-animated">
                    <div class="icon shadow d-flex align-items-center justify-content-center"><span
                            class="flaticon-vector"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Graphic Design</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div
                    class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate fadeInUp ftco-animated">
                    <div class="icon shadow d-flex align-items-center justify-content-center"><span
                            class="flaticon-zoom"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">SEO</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
