<div class="container-fluid" style="overflow: hidden;">
    <div class="m-2">
        <section id="home-section" class="hero">
            <app-home></app-home>
        </section>


        <section class="ftco-about ftco-section ftco-no-pt ftco-no-pb" id="aboutus-section">
            <app-aboutus></app-aboutus>
        </section>
        <section class="ftco-section bg-light" id="skills-section">
            <app-skills></app-skills>
        </section>
        <section class="ftco-section" id="services-section">
            <app-services></app-services>
        </section>
        <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
            <app-contact></app-contact>
        </section>
    </div>
</div>