<footer class="ftco-footer ftco-section">
    <div class="container-fluid" style="background-color:#232931 !important; color:whitesmoke !important; position: relative; bottom: 0; padding: 30px;">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Lets talk about</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts.</p>
                    <p><a href="#" class="btn btn-primary" style="background-color:#b1b493 !important; border-color: #b1b493 !important;">Learn more</a></p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4" style="color:whitesmoke">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled" >
                        <li><a href="#home-section"style="color:whitesmoke;"><span class="fa fa-chevron-right mr-2"></span>Home</a></li>
                        <li><a href="#aboutus-section" style="color:whitesmoke;"><span class="fa fa-chevron-right mr-2"></span>About</a></li>
                        <li><a href="#services-section"style="color:whitesmoke;"><span class="fa fa-chevron-right mr-2"></span>Services</a></li>
                        <li><a href="#projects-section"style="color:whitesmoke;"><span class="fa fa-chevron-right mr-2"></span>Projects</a></li>
                        <li><a href="#contact-section"style="color:whitesmoke;"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" style="color:whitesmoke;"><span class="fa fa-chevron-right mr-2"></span>Web Design</a></li>
                        <li><a href="#" style="color:whitesmoke;"><span class="fa fa-chevron-right mr-2"></span>Web Development</a></li>
                        <li><a href="#" style="color:whitesmoke;"><span class="fa fa-chevron-right mr-2"></span>Business Strategy</a></li>
                        <li><a href="#" style="color:whitesmoke;"><span class="fa fa-chevron-right mr-2"></span>Data Analysis</a></li>
                        <li><a href="#" style="color:whitesmoke;"><span class="fa fa-chevron-right mr-2"></span>Graphic Design</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">Haldwani Nainital Uttrakhand</span></li>
                            <li><a href="#" style="color:whitesmoke;"><span class="icon fa fa-phone"></span><span class="text">+918845456765</span></a></li>
                            <li><a href="#" style="color:whitesmoke;"><span class="icon fa fa-paper-plane pr-4"></span><span
                                        class="text">amansinghbisht2602&#64;gmail.com</span></a></li>
                        </ul>
                    </div>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span
                                    class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span
                                    class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span
                                    class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright ©
                    <script>document.write(new Date().getFullYear());</script>2024 All rights reserved  <i class="fa fa-heart" aria-hidden="true"></i>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>