.ftco-about ul.about-info {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
}
.subheading{
    font-size: 19px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: black;
    color: #b1b493;
    letter-spacing: 3px;
}
.para{
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}

.ftco-about .my-interest .interest-wrap {
    width: 25%;
    border-left: 2px solid #b1b493;
    padding-left: 10px;
}

    .ftco-about .my-interest {
        margin-top: 30px;
    }
    .w-100 {
        width: 100% !important;
    }
    .icon{

        background: #b1b493;
        color: white;
        align-items: center;
        display: flex;
        border-radius: 50%;
        padding: 5px;
    }
    .img{
        max-width: 100%;
    height: 101.4%;
    }
    .ftco-about ul.about-info li span {
        width: calc(100% - 130px);
        font-weight: 600;
        color: #b1b493;
    }
    .interest-wrap {
        width: 25%;
        border-left: 3px solid #b1b493;
        padding-left: 10px;
        ;
    }